---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <section class="container flex flex-col items-center justify-center">
    <div class="max-w-4/5 text-center">
      <h1 class="mb-8 text-8xl font-bold">404 | Not Found</h1>
      <p class="text-2xl font-semibold tablet:text-3xl">
        Sorry. The page you requested cannot be found.
      </p>
      <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
        But do not worry, you can find plenty of other things on our homepage.
      </p>
      <a rel="noreferrer noopener" href="/">Back to homepage</a>
    </div>
  </section>
</Layout>
