---

---

<footer class="py-4 dark:bg-stone-950">
  <div class="container">
    <div class="text-center">
      <span class="text-sm tracking-wide text-gray-500 dark:text-white">
        <cite>Copyright &copy;</cite>
        Camilla 2025 - Present. All rights reserved
      </span>
    </div>
  </div>
</footer>
