local_backend: true
backend:
  name: git-gateway
  branch: main
media_folder: "public/images/uploads"
public_folder: "/images/uploads"
collections:
  - name: "blog"
    label: "Blog"
    folder: "blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - label: "Layout"
        name: "layout"
        widget: "hidden"
        default: "blog"
      - label: "Draft"
        name: "draft"
        widget: "boolean"
        default: true
        hint: "This will not be available to the public"
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Description"
        name: "description"
        widget: "text"
        required: false
      - label: "Categories"
        name: "categegories"
        widget: "list"
        required: false
        hint: "This will be shown below the title"
      - label: "Thumbnail / Hero Image"
        name: "thumbnail"
        widget: "image"
      - label: "Publish Date"
        name: "date"
        widget: "datetime"
      - label: "Content / Body"
        name: "body"
        widget: "markdown"
